VITE_IOTA_IS_SDK_API_KEY=<VITE_IOTA_IS_SDK_API_KEY>
VITE_IOTA_IS_SDK_GATEWAY_URL=<VITE_IOTA_IS_SDK_GATEWAY_URL>

# set these if you want to avoid the gateway but connect to the services directly (for local development)
#VITE_IOTA_SSI_BRIDGE_URL=http://localhost:3001
#VITE_IOTA_AUDIT_TRAIL_URL=http://localhost:3002
#VITE_IOTA_USE_GATEWAY_URL=false # if not set it will use the gateway url

VITE_NETWORK_EXPLORER=https://explorer.iota.org/mainnet/message/