PORT=3000
API_VERSION=v1
NETWORK=main
IOTA_PERMA_NODE=https://chrysalis-chronicle.iota.org/api/mainnet/
IOTA_HORNET_NODE=https://chrysalis-nodes.iota.org:443
EXPLORER=https://explorer.iota.org/mainnet/transaction

DATABASE_NAME=<db-name>
MONGO_INITDB_ROOT_USERNAME=<db-user>:
MONGO_INITDB_ROOT_PASSWORD=<db-password>
DATABASE_URL=mongodb://<db-user>:<db-password>@<db-ip>:<db-port>

SERVER_SECRET=<server-secret>
API_KEY=<optional-api-key>

