db.createUser(
    {
        user: "<db-user>",
        pwd: "<db-password>",
        roles: [
            {
                role: "readWrite",
                db: "<db-name>"
            }
        ]
    }
);