name: Publish API on DockerHub

on:
  push:
    branches:
      - 'master'
      - 'develop'
    tags:
      - 'v*'
      - 'audit-trail-gw-*'
    paths: 
      - "api/audit-trail-gw/**"
      - ".github/workflows/publish-audit-trail-gw-dockerhub.yml"
  pull_request:
    branches:
      - 'master'
    paths: 
      - "api/audit-trail-gw/**"
      - ".github/workflows/publish-audit-trail-gw-dockerhub.yml"
  workflow_dispatch:

jobs:
  push_audit_trail_to_registry:
    name: Push Audit Trail image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.IOTALEDGER_DOCKER_USERNAME }}
          password: ${{ secrets.IOTALEDGER_DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: iotaledger/audit-trail-gw
          
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: api/audit-trail-gw
          file: ./api/audit-trail-gw/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
